
/* Escritorios muy grandes */

@media(min-width: 1200px){
    .contac_form{
        width: 40%;
    }
}

/* Tables en horizontal y escritorios normales   */

@media(min-width: 768px){
    .contac_form{
        width: 65%;
    }
}

/* Moviles en horizontal y tables en horizontal   */

@media(max-width: 767px){
    .contac_form{
        width: 80%;
    }
}

/* Moviles verticales  */

@media(max-width: 480px){
    .contac_form{
        width: 90%;
    }
}